/* CSS RESET */
* {
    margin: 0 auto;
    padding: 0 auto;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;

    min-height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
    border: 3px solid black;
    padding: 1.5rem;
}

.numbers {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    margin-bottom: 2rem;
    user-select: none;
}